header {
    position: relative;    
}

.navbar {
    padding-top: 24px;
    background-color: #111827;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 40px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;   
}

nav a:hover {
    color: #d1d5db;
}

.login {
    display: flex;
    align-items: center;
}
